<body class="home_body">
    <div class="container-fluid">
        <div class="home-div">
            <div class="logo-title">
                <img src="/SoMate-logo.png" width="100%">
            </div>

            <div class="fomo-dic-div">
                <div class="page-title">
                    <a href='/index/<%= account %>/current'>
                        <img src="/left-arrow.png" width="25px">
                    </a>
                    <h2 class="font" align="center">FoMO 小百科</h2>
                    <img src="/left-arrow.png" width="25px" style="opacity: 0;">
                </div>

                <div class="info-dic">
                    <div class="info-dic-title">
                        <p class="font small-btn-string">FoMO 是什麼？</p>
                        <img class="close-img" src="/arrow-down.png" width="25px">
                        <img class="extend-img" src="/arrow-up-primary.png" style="display: none;" width="25px">
                    </div>
                    <div class="info-dic-content" style="display: none;">
                        <p class="font content">
                        人們會透過社群媒體與他人建立聯繫，例如透過發佈動態、貼文、查看朋友的近況，
                        或是與他人聊天等方式維持人際關係。而當一個人為了避免失去這些在社群平台上建立的關係，
                        而害怕錯過社群平台上的資訊時，可能會感受到焦慮或煩躁的負面情緒。<br>
                        而這種負面的感覺或心理狀態就稱之為 FoMO (Fear of Missing Out)。
                        </p>
                    </div>
                </div>

                <div class="info-dic">
                    <div class="info-dic-title">
                        <p class="font small-btn-string">你/妳有 FoMO 嗎？</p>
                        <img class="close-img" src="/arrow-down.png" width="25px">
                        <img class="extend-img" src="/arrow-up-primary.png" style="display: none;" width="25px">
                    </div>
                    <div class="info-dic-content" style="display: none;">
                        <p class="font content">
                        以下是一些有 FoMO 狀況的人會面臨的常見情境，如果你/妳在類似的情境下有相同的想法，
                        那你/妳可能也在不知不覺中經歷了 FoMO。
                        </p>
                        <ul class="font content" style="margin: 12px 0px;">
                            <li>當別人已讀我時，我會擔心他是在等我回覆我錯過的訊息。</li>
                            <li>當我網路很慢的時候，我會擔心錯過朋友在 IG 上的限時動態或貼文。</li>
                            <li>當我把手機忘在家裡時，我會擔心錯過朋友在 IG 上的限時動態，因為他們隨時都有可能會刪除。</li>
                            <li>當我在 IG 上與朋友聊天時，我會擔心朋友會因為我不繼續跟他聊天而感到受傷。</li>
                            <li>因為隔天要上班需要早點睡覺，但當我聽到訊息通知時，我會擔心是有什麼重要的事情。</li>
                        </ul>
                        <p class="font content">
                        人們常常經歷 FoMO 而不自知，如果你/妳有 FoMO 的話，不妨試試看下面幾種方法，
                        有意識地使用 IG，減少 FoMO 帶來的負面影響。
                        </p>
                    </div>
                </div>

                <div class="info-dic">
                    <div class="info-dic-title">
                        <p class="font small-btn-string">怎麼減緩 FoMO？</p>
                        <img class="close-img" src="/arrow-down.png" width="25px">
                        <img class="extend-img" src="/arrow-up-primary.png" style="display: none;" width="25px">
                    </div>
                    <div class="info-dic-content" style="display: none;">
                        <p class="font content">
                        當你/妳發現正在經歷 FoMO 的時候，不妨嘗試看看下面幾種方法緩解 FoMO 的狀況！
                        </p>

                        <% countermeasures.each do |countermeasure| %>
                            <div class="countermeasure-alert" data-toggle="modal" data-target=".countermeasure-modal-<%= countermeasure.id %>">
                                <p class="font remark-string"><%= countermeasure.id %>. <%= countermeasure.title %></p>
                                <img src="/countermeasure-alert-arrow.png" width="18px">
                            </div>

                            <div class="modal fade countermeasure-modal-<%= countermeasure.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title font big-btn-string" id="exampleModalLongTitle" style="color: #2A868C;"><%= countermeasure.title %></p>
                                            <h2 class="modal-title font" id="exampleModalLongTitle" style="font-size: 22px;"><%= countermeasure.guidance_content %></h2>
                                        </div>
                                        <div class="modal-body">
                                            <%= countermeasure.body_content %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>

                    </div>
                </div>

                <p class="font" style="font-weight: 400; font-size: 8px; line-height: 15px; color: #2A868C;">
                資料來源：Alutaybi, A., Al-Thani, D., McAlaney, J., & Ali, R. (2020). 
                Combating fear of missing out (FoMO) on social media: The fomo-r method. 
                <I>International journal of environmental research and public health</I>, 17(17), 6128.
                </p>
            </div>

            <div class="navbar-div">
                <div class="navbar-div-bottom">
                    <img src="/fomo-dic-click.png" width="97px">

                    <a href='/my-history/<%= account %>'>
                        <img src="/my-history.png" width="97px">
                    </a>
                </div>

                <% if is_record %>
                    <input class="start_btn small-btn-string font" type="button" disabled="disabled" style="color: #AACFD1;" value="已完成&#x00A;今日紀錄">
                <% else %>
                    <a href='/meditation/<%= account %>'>
                        <input class="start_btn big-btn-string font" type="button" value="開始&#x00A;記錄">
                    </a>
                <% end %>
            </div>
        </div>

    </div>
    <script>
        // info-dic-title close and extend
        $(".info-dic-title").click(function() {
            var parent = $(this).parent(".info-dic");
            if(parent.hasClass("info-dic-extend")) {
                // close
                parent.removeClass("info-dic-extend");
                $(this).siblings('.info-dic-content').hide();
                $(this).find(".extend-img").hide()
                $(this).find(".close-img").show()
            } else {
                // open aka extend
                parent.addClass("info-dic-extend");
                $(this).siblings('.info-dic-content').show();
                $(this).find(".extend-img").show()
                $(this).find(".close-img").hide()
            }
        });
    </script>
</body>