<body>
    <div class="container-fluid">
        <!-- Form Question & Title -->
        <div class="form-top">
            <div style="width: 88vw;">
                <h2 class="form-qnumber font">第九題</h2>
                <div class="form-progress-line-frame">
                    <hr class="form-progress-line-progress" style="width: 86vw;">
                    <hr class="form-progress-line-leave">
                </div>
            </div>

            <div class="form-q-d">
                <h2 class="form-qtitle font">你/妳覺得可以如何改善自己在使用 IG 時的情緒？</h2>
            </div>
        </div>

        <!-- Selections -->
        <form role="form" id="form_answers" method="POST" action="/form_complete">
            <div class="form-content">
                <div class="q-div">
                    <div class="q-textarea">
                        <textarea class="form-control" name="9" rows="5" placeholder="我可以..."></textarea>
                    </div>

                </div>
            </div>

            <div class="form-footer">
                <input class="fill_time" name="fill_time" type="hidden" value="<%= fill_time %>">
                <input class="q1_ans" name="1" type="hidden" value="<%= q1_ans %>">
                <input class="q2_ans" name="2" type="hidden" value="<%= q2_ans %>">
                <input class="q3_ans" name="3" type="hidden" value="<%= q3_ans %>">
                <input class="q4_ans" name="4" type="hidden" value="<%= q4_ans %>">
                <input class="q5_ans" name="5" type="hidden" value="<%= q5_ans %>">
                <input class="q6_ans" name="6" type="hidden" value="<%= q6_ans %>">
                <input class="q7_ans" name="7" type="hidden" value="<%= q7_ans %>">
                <input class="q8_ans" name="8" type="hidden" value="<%= q8_ans %>">
                <input name="question_num" type="hidden" value="9">
                <input class="btn font" type="submit" style="width:100%; justify-content: center;" value="提交">
            </div>
        </form>
    </div>

    <script>
        // get the start time (計算填寫時間)
        var time_start = new Date();  
        var clock_start = time_start.getTime();  

        // 計算填寫時間
        function get_time_spent (){   
            var time_now = new Date();  
            return((time_now.getTime() - clock_start)/1000 + <%= fill_time %>);   
        }

        $('#form_answers').submit(function() {
            // 加入表單填寫時間
            $(".fill_time").val(get_time_spent());

            $("textarea[name=9]").val($.trim($("textarea[name=9]").val()));
            if($("textarea[name=9]").val() == "") {
                alert("請填寫改善你/妳使用 IG 時的情緒的方法。");
                return false;
            } else return true;
        });
    </script>
</body>