<body>
    <div class="container-fluid">
        <!-- Form Question & Title -->
        <div class="form-top">
            <div style="width: 88vw;">
                <h2 class="form-qnumber font">第二題</h2>
                <div class="form-progress-line-frame">
                    <hr class="form-progress-line-progress" style="width: 20vw;">
                    <hr class="form-progress-line-leave">
                </div>
            </div>

            <div class="form-q-d">
                <h2 class="form-qtitle font">你/妳今天在哪些時段使用 IG？（可複選）</h2>
                <!-- info alert -->
                <div id="info-default" class="info-alert">
                    <div class="info-content info-default">
                        <div style="display: flex; flex-direction: row; align-items: flex-start; gap: 12px;">
                            <img src="/information-icon.png" width="25px">
                            <p class="font content">早上、下午、晚上的時間區間</p>
                        </div>
                        <img src="/arrow-down.png" width="25px">
                    </div>
                </div>
                <div id="info-extend" class="info-alert" style="display: none;">
                    <div class="info-content info-extend">
                        <img src="/information-icon.png" width="25px">
                        <div class="font content">
                            時間區間：<br>
                            <ul style="margin: 0px;">
                                <li>早上：6:00~11:59</li>
                                <li>下午：12:00~17:59</li>
                                <li>晚上：18:00~</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Selections -->
        <form role="form" id="form_answers" method="POST">
            <div class="form-content">
                <div class="q-div">

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-wakeup" name="q2_ans[]" value="早上起床後 15 分鐘內">
                        <label class="form-check-label font small-btn-string" for="option-wakeup"><p>早上起床後 15 分鐘內<p></label>
                    </div>

                    <div class="sub-select-option">
                        <div class="sub-select-option-title">
                            <p class="font small-btn-string">吃飯時</p>
                            <img class="close-img" src="/arrow-down.png" width="25px">
                            <img class="extend-img" src="/arrow-up.png" style="display: none;" width="25px">
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-eat-breakfast" name="q2_ans[]" value="吃早餐時">
                            <label class="form-check-label font" for="option-eat-breakfast"><h3>早餐</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-eat-lunch" name="q2_ans[]" value="吃午餐時">
                            <label class="form-check-label font" for="option-eat-lunch"><h3>午餐</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-eat-dinner" name="q2_ans[]" value="吃晚餐時">
                            <label class="form-check-label font" for="option-eat-dinner"><h3>晚餐</h3></label>
                        </div>
                    </div>

                    <div class="sub-select-option">
                        <div class="sub-select-option-title">
                            <p class="font small-btn-string">上廁所時</p>
                            <img class="close-img" src="/arrow-down.png" width="25px">
                            <img class="extend-img" src="/arrow-up.png" style="display: none;" width="25px">
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-toilet-morning" name="q2_ans[]" value="早上上廁所時">
                            <label class="form-check-label font" for="option-toilet-morning"><h3>早上</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-toilet-afternoon" name="q2_ans[]" value="下午上廁所時">
                            <label class="form-check-label font" for="option-toilet-afternoon"><h3>下午</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-toilet-evening" name="q2_ans[]" value="晚上上廁所時">
                            <label class="form-check-label font" for="option-toilet-evening"><h3>晚上</h3></label>
                        </div>
                    </div>

                    <div class="sub-select-option">
                        <div class="sub-select-option-title">
                            <p class="font small-btn-string">工作/讀書時</p>
                            <img class="close-img" src="/arrow-down.png" width="25px">
                            <img class="extend-img" src="/arrow-up.png" style="display: none;" width="25px">
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-workstudy-morning" name="q2_ans[]" value="早上工作/讀書時">
                            <label class="form-check-label font" for="option-workstudy-morning"><h3>早上</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-workstudy-afternoon" name="q2_ans[]" value="下午工作/讀書時">
                            <label class="form-check-label font" for="option-workstudy-afternoon"><h3>下午</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-workstudy-evening" name="q2_ans[]" value="晚上工作/讀書時">
                            <label class="form-check-label font" for="option-workstudy-evening"><h3>晚上</h3></label>
                        </div>
                    </div>

                    <div class="sub-select-option">
                        <div class="sub-select-option-title">
                            <p class="font small-btn-string">通勤時</p>
                            <img class="close-img" src="/arrow-down.png" width="25px">
                            <img class="extend-img" src="/arrow-up.png" style="display: none;" width="25px">
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-transportation-morning" name="q2_ans[]" value="早上通勤時">
                            <label class="form-check-label font" for="option-transportation-morning"><h3>早上</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-transportation-afternoon" name="q2_ans[]" value="下午通勤時">
                            <label class="form-check-label font" for="option-transportation-afternoon"><h3>下午</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-transportation-evening" name="q2_ans[]" value="晚上通勤時">
                            <label class="form-check-label font" for="option-transportation-evening"><h3>晚上</h3></label>
                        </div>
                    </div>

                    <div class="sub-select-option">
                        <div class="sub-select-option-title">
                            <p class="font small-btn-string">運動時</p>
                            <img class="close-img" src="/arrow-down.png" width="25px">
                            <img class="extend-img" src="/arrow-up.png" style="display: none;" width="25px">
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-exercise-morning" name="q2_ans[]" value="早上運動時">
                            <label class="form-check-label font" for="option-exercise-morning"><h3>早上</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-exercise-afternoon" name="q2_ans[]" value="下午運動時">
                            <label class="form-check-label font" for="option-exercise-afternoon"><h3>下午</h3></label>
                        </div>
                        <div class="form-check form-check-inline sub-select-option-content" style="display: none;">
                            <input class="form-check-input" type="checkbox" id="option-exercise-evening" name="q2_ans[]" value="晚上運動時">
                            <label class="form-check-label font" for="option-exercise-evening"><h3>晚上</h3></label>
                        </div>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-bath" name="q2_ans[]" value="洗完澡後 15 分鐘內">
                        <label class="form-check-label font small-btn-string" for="option-bath"><p>洗完澡後 15 分鐘內<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-sleep" name="q2_ans[]" value="晚上睡覺前 15 分鐘內">
                        <label class="form-check-label font small-btn-string" for="option-sleep"><p>晚上睡覺前 15 分鐘內<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-other" name="q2_ans[]" value="其他">
                        <label class="form-check-label font small-btn-string" for="option-other">
                            <p>
                                其他：
                                <input class="form-check-input other-text" type="text" name="q2_ans_other" value="">
                            <p>
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-footer">
                <input class="fill_time" name="fill_time" type="hidden" value="<%= fill_time %>">
                <input class="q1_ans" name="1" type="hidden" value="<%= q1_ans %>">
                <input class="q2_ans" name="2" type="hidden" value="<%= defined?(q2_ans).nil? ? "" : q2_ans %>">
                <input class="q3_ans" name="3" type="hidden" value="<%= defined?(q3_ans).nil? ? "" : q3_ans %>">
                <input class="q4_ans" name="4" type="hidden" value="<%= defined?(q4_ans).nil? ? "" : q4_ans %>">
                <input class="q5_ans" name="5" type="hidden" value="<%= defined?(q5_ans).nil? ? "" : q5_ans %>">
                <input class="q6_ans" name="6" type="hidden" value="<%= defined?(q6_ans).nil? ? "" : q6_ans %>">
                <input class="q7_ans" name="7" type="hidden" value="<%= defined?(q7_ans).nil? ? "" : q7_ans %>">
                <input class="q8_ans" name="8" type="hidden" value="<%= defined?(q8_ans).nil? ? "" : q8_ans %>">
                <input class="q9_ans" name="9" type="hidden" value="<%= defined?(q9_ans).nil? ? "" : q9_ans %>">
                
                <input class="btn-second font" type="submit" formaction="/form/<%= account %>" value="上一題">
                <input class="btn font" type="submit" formaction="/form_3/<%= account %>" value="下一題">
            </div>
        </form>
    </div>

    <script>
        // hide or show the information alert div
        $("#info-default").click(function() {
            $("#info-default").hide();
            $("#info-extend").show();
        });
        $("#info-extend").click(function() {
            $("#info-extend").hide();
            $("#info-default").show();
        });

        // select-option select and unselect
        $(".select-option").click(function() {
            if($(this).hasClass("select-option-extend")) {
                // unselect
                var other_val = $(this).find("label").find("p").find("input").val();
                if(other_val == "" || other_val == undefined){
                    $(this).removeClass("select-option-extend");
                }
            } else {
                // select
                $(this).addClass("select-option-extend");
            }
        });
        $(".small-btn-string.form-check-label").click(function() { 
            // can also add/remove class if they tape text
            if($(this).parent(".select-option").hasClass("select-option-extend")) {
                // unselect
                $(this).parent(".select-option").removeClass("select-option-extend");
            } else {
                // select
                $(this).parent(".select-option").addClass("select-option-extend");
            }
        });

        // sub-select-option-title close and extend
        $(".sub-select-option-title").click(function() {
            var parent = $(this).parent(".sub-select-option");
            if(parent.hasClass("sub-select-option-extend")) {
                // close
                parent.removeClass("sub-select-option-extend");
                $(this).siblings('.sub-select-option-content').hide();
                $(this).find(".extend-img").hide()
                $(this).find(".close-img").show()
            } else {
                // open aka extend
                parent.addClass("sub-select-option-extend");
                $(this).siblings('.sub-select-option-content').show();
                $(this).find(".extend-img").show()
                $(this).find(".close-img").hide()
            }
        });

        // other text input
        $(".other-text").change(function() {
            var ele = $(this).closest(".select-option")
            if ($(this).val() !== "") {
                if (!ele.hasClass("select-option-extend")) {
                    ele.addClass("select-option-extend");
                }
            } else {
                if (ele.hasClass("select-option-extend")) {
                    ele.removeClass("select-option-extend");
                }
            }
        });

        // get the start time (計算填寫時間)
        var time_start = new Date();  
        var clock_start = time_start.getTime();  

        // 計算填寫時間
        function get_time_spent (){   
            var time_now = new Date();  
            return((time_now.getTime() - clock_start)/1000 + <%= fill_time %>);   
        }

        // 提交前確認勾選的內容
        function check_selected_options () {
            // 確認 select-option 的 selected 內容
            $(".select-option").each(function() {
                if ($(this).hasClass("select-option-extend")) {
                    // Check the checkbox
                    $(this).find("input[type=checkbox]").prop("checked", true);
                } else {
                    // Uncheck the checkbox
                    $(this).find("input[type=checkbox]").prop("checked", false);
                }
            });

            // other_ans string append to form ans
            if($(".other-text").val() !== "") {
                var other_text = "其他：" + $(".other-text").val();
                $(".other-text").closest("label").siblings("input").val(other_text);
            } else {
                $(".other-text").closest("label").siblings("input").prop("checked", false);
            }
        }

        $('#form_answers').submit(function() {
            // 確認勾選的內容
            check_selected_options()

            // 確認至少勾選一個選項
            var empty = 1;
            $("input[type=checkbox]").each(function() {
                if ($(this).is(":checked")) empty = 0;
            });
            if(empty == 1) {
                alert("請選擇你/妳今天使用 IG 的時段！");
                return false;
            }

            // 加入表單填寫時間
            $(".fill_time").val(get_time_spent());
            
            return true;
        });

        // 如果 $(".q2_ans") 有值代表已經勾選過了，所以要把選的值勾選回去
        $(document).ready(function() {
            var selected_opts = $(".q2_ans").val();
            if(selected_opts != "") {
                $.each(selected_opts.split("|"), function(index, option) {
                    var ele = $("input[value='" + option +"']");
                    if (ele.length != 0) {
                        ele.prop("checked", true);
                        // 把相對應的選項展開、變色
                        var select_opt = ele.parent(".select-option");
                        var sub_select_opt = ele.parent(".sub-select-option-content").parent(".sub-select-option");
                        if (select_opt.length != 0) {
                            // 沒有子項目的 selection bar
                            if (!select_opt.hasClass("select-option-extend")) {
                                select_opt.addClass("select-option-extend");
                            }
                        } else if (sub_select_opt.length != 0) {
                            // 有子項目的 selection bar
                            if (!sub_select_opt.hasClass("sub-select-option-extend")) {
                                sub_select_opt.addClass("sub-select-option-extend");
                                ele.parent(".sub-select-option-content").siblings(".sub-select-option-content").addBack().show();
                                sub_select_opt.find(".extend-img").show();
                                sub_select_opt.find(".close-img").hide();
                            }
                        }
                    } else {
                        // 其他
                        $(".other-text").val(option.slice(3));
                        $("#option-other").prop("checked", true);
                        $(".other-text").closest(".select-option").addClass("select-option-extend");
                    }
                });
            }
        });
    </script>
</body>