<body>
    <div class="container-fluid">
        <!-- Form Question & Title -->
        <div class="form-top">
            <div style="width: 88vw;">
                <h2 class="form-qnumber font">第五題</h2>
                <div class="form-progress-line-frame">
                    <hr class="form-progress-line-progress" style="width: 50vw;">
                    <hr class="form-progress-line-leave">
                </div>
            </div>

            <div class="form-q-d">
                <h2 class="form-qtitle font">今天使用 IG 時的情緒讓你/妳的身體有什麼感受？（如：因為悲傷我覺得頭暈暈的、因為開心我覺得肩頸鬆鬆的...）</h2>

                <!-- info alert -->
                <div class="info-alert">
                    <div class="info-content info-extend">
                        <img src="/information-icon.png" width="25px">
                        <div class="font content">
                            回答建議：可以試著用身體的角度去回想你/妳的情緒喔！
                        </div>
                    </div>
                </div>

                <!-- info alert -->
                <div id="info-default" class="info-alert">
                    <div class="info-content info-default">
                        <div style="display: flex; flex-direction: row; align-items: flex-start; gap: 12px;">
                            <img src="/information-icon.png" width="25px">
                            <p class="font content">「感受」與「情緒」的定義</p>
                        </div>
                        <img src="/arrow-down.png" width="25px">
                    </div>
                </div>
                <div id="info-extend" class="info-alert" style="display: none;">
                    <div class="info-content info-extend">
                        <img src="/information-icon.png" width="25px">
                        <div class="font content">
                            <ul style="margin: 0px;">
                                <li><b>感受：</b>人在面臨某事件後的身體反應。如：手指顫抖、頭腦昏沉、胸口悶痛等。</li>
                                <li><b>情緒：</b>人在面臨某事件後的心理狀態。六種基本的情緒包括快樂、驚訝、悲傷、恐懼、憤怒、厭惡。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Selections -->
        <form role="form" id="form_answers" method="POST">
            <div class="form-content">
                <div class="q-div">

                    <img src="/question5-body.png" width="100%" style="padding-bottom: 18px;">

                    <% if !defined?(q5_ans).nil? && !q5_ans.empty? %>
                    <!-- 如果已經有填好答案的話帶入 --> 
                        <% q5_ans.split("|").each_with_index do |line_string, index| %>
                            <% line = line_string.split("&") %>
                            <!-- emo: line[0] / body: line[1] / feel: line[2] --> 
                            <div id="q5-text-<%= (index + 1).to_s %>" class="q5-text">
                                <p class="font small-btn-string">因為</p>
                                <input class="ans-text" name="emotion[]" type="text" value="<%= line[0] %>" placeholder="情緒" style="width: 60px">
                                <p class="font small-btn-string">我覺得</p>
                                <select class="ans-text" name="body[]" style="width: 60px; height: 32px;">
                                    <option value="">身體</option>
                                    <option value="A" <%= "selected" if line[1] == "A" %>>A</option>
                                    <option value="B" <%= "selected" if line[1] == "B" %>>B</option>
                                    <option value="C" <%= "selected" if line[1] == "C" %>>C</option>
                                    <option value="D" <%= "selected" if line[1] == "D" %>>D</option>
                                    <option value="E" <%= "selected" if line[1] == "E" %>>E</option>
                                    <option value="F" <%= "selected" if line[1] == "F" %>>F</option>
                                    <option value="G" <%= "selected" if line[1] == "G" %>>G</option>
                                    <option value="H" <%= "selected" if line[1] == "H" %>>H</option>
                                    <option value="I" <%= "selected" if line[1] == "I" %>>I</option>
                                </select>
                                <input class="ans-text" name="feelings[]" type="text" value="<%= line[2] %>"  placeholder="感受">
                            </div>
                        <% end %>
                        <% newline_index = q5_ans.split("|").length + 1 %>
                    <% else %>
                        <% newline_index = 1 %>
                    <% end %>

                    <div id="q5-text-<%= newline_index %>" class="q5-text">
                        <p class="font small-btn-string">因為</p>
                        <input class="ans-text" name="emotion[]" type="text" value="" placeholder="情緒" style="width: 60px">
                        <p class="font small-btn-string">我覺得</p>
                        <select class="ans-text" name="body[]" style="width: 60px; height: 32px;">
                            <option value="" selected>身體</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                            <option value="I">I</option>
                        </select>
                        <input class="ans-text" name="feelings[]" type="text" value=""  placeholder="感受">
                    </div>

                </div>
            </div>

            <div class="form-footer">
                <input class="fill_time" name="fill_time" type="hidden" value="<%= fill_time %>">
                <input class="q1_ans" name="1" type="hidden" value="<%= q1_ans %>">
                <input class="q2_ans" name="2" type="hidden" value="<%= q2_ans %>">
                <input class="q3_ans" name="3" type="hidden" value="<%= q3_ans %>">
                <input class="q4_ans" name="4" type="hidden" value="<%= q4_ans %>">
                <input class="q5_ans" name="5" type="hidden" value="<%= defined?(q5_ans).nil? ? "" : q5_ans %>">
                <input class="q6_ans" name="6" type="hidden" value="<%= defined?(q6_ans).nil? ? "" : q6_ans %>">
                <input class="q7_ans" name="7" type="hidden" value="<%= defined?(q7_ans).nil? ? "" : q7_ans %>">
                <input class="q8_ans" name="8" type="hidden" value="<%= defined?(q8_ans).nil? ? "" : q8_ans %>">
                <input class="q9_ans" name="9" type="hidden" value="<%= defined?(q9_ans).nil? ? "" : q9_ans %>">
                
                <input class="btn-second font" type="submit" formaction="/form_4/<%= account %>" value="上一題">
                <input class="btn font" type="submit" formaction="/form_6/<%= account %>" value="下一題">
            </div>
        </form>
    </div>

    <script>
        // hide or show the information alert div
        $("#info-default").click(function() {
            $("#info-default").hide();
            $("#info-extend").show();
        });
        $("#info-extend").click(function() {
            $("#info-extend").hide();
            $("#info-default").show();
        });

        // get the start time (計算填寫時間)
        var time_start = new Date();  
        var clock_start = time_start.getTime();  

        // 計算填寫時間
        function get_time_spent (){   
            var time_now = new Date();  
            return((time_now.getTime() - clock_start)/1000 + <%= fill_time %>);   
        }

        // 浮動跳出答案 --------------------------------------------------------------------
        
        // 確認一行的答案有沒有填寫完 (return: empty / completed / not_completed)
        function check_one_ans (ans_obj) {
            id = ans_obj.attr("id");
            var emotion = $("#" + id + " input[name=emotion\\[\\]]").val();
            var body = $("#" + id + " select[name=body\\[\\]]").val();
            var feelings = $("#" + id + " input[name=feelings\\[\\]]").val();
            if(emotion == "" && body == "" && feelings == "") {
                return "empty";
            } else if (emotion != "" && body != "" && feelings != "") {
                return "completed";
            } else {
                return "not_completed";
            }
        }

        $("#form_answers").on("change", ".ans-text", function() {
            var current_obj = $(this).parent(".q5-text");
            var current_status = check_one_ans(current_obj);

            //console.log(current_obj.attr("id"), current_status);
            if(current_status == "completed") {
                // 先確認所有的 ans 都是 completed 的狀態
                var objs_completed = true;
                $(".q5-text").each(function() {
                    if(check_one_ans($(this)) != "completed") {
                        objs_completed = false;
                    }
                });

                if (objs_completed) {
                    var ans_num = $(".q5-text").length + 1;
                    var new_obj_html = `
                        <div id="q5-text-` + ans_num + `" class="q5-text">
                            <p class="font small-btn-string">因為</p>
                            <input class="ans-text" name="emotion[]" type="text" value="" placeholder="情緒" style="width: 60px">
                            <p class="font small-btn-string">我覺得</p>
                            <select class="ans-text" name="body[]" style="width: 60px; height: 32px;">
                                <option value="" selected>身體</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                            </select>
                            <input class="ans-text" name="feelings[]" type="text" value=""  placeholder="感受">
                        </div>`;
                    current_obj.parent(".q-div").append(new_obj_html);
                }

                
            } else if(current_status == "empty") {
                var obj_current_index = current_obj.index();
                var obj_total_index = $(".q5-text").length;

                if (obj_current_index != -1 && obj_current_index < obj_total_index) {
                    // remove current obj
                    current_obj.remove();
                }
            }
        });

        $('#form_answers').submit(function() {
            // 加入表單填寫時間
            $(".fill_time").val(get_time_spent());

            // 確認所有的 ans 都是 completed 的狀態
            var objs_completed = true;
            $(".q5-text").each(function() {
                if(check_one_ans($(this)) == "not_completed") {
                    alert("尚有答案未完整填寫，請先確認所有答案接完整填寫後再前往下一題！");
                    objs_completed = false;
                }
            });
            
            if (objs_completed) {
                // 把所有答案放到 class=q5_ans 的 element 裏面
                var ans = "";
                var emotion = "";
                var body = "";
                var feelings = "";

                $(".q5-text").each(function() {
                    if(check_one_ans($(this)) == "completed") {
                        if($(this).index() != 1) ans += "|";
                        
                        emotion = $("#" + $(this).attr("id") + " input[name=emotion\\[\\]]").val();
                        body = $("#" + $(this).attr("id") + " select[name=body\\[\\]]").val();
                        feelings = $("#" + $(this).attr("id") + " input[name=feelings\\[\\]]").val();

                        ans = ans + emotion + "&" + body + "&" + feelings;
                    }
                });
                $(".q5_ans").val(ans);

                return true;
            }
            else return false;
        });
    </script>
</body>