<body class="home_body">
    <div class="container-fluid">
        <div class="home-div">
            <div class="logo-title">
                <img src="/SoMate-logo.png" width="100%">
            </div>

            <div class="my-history-div">
                <div class="page-title">
                    <a href='javascript:history.back()'>
                        <img src="/left-arrow.png" width="25px">
                    </a>
                    <% weekdays = {"Mon"=>"一", "Tue"=>"二", "Wed"=>"三", "Thu"=>"四", "Fri"=>"五", "Sat"=>"六", "Sun"=>"日"} %> 
                    <h2 class="font" align="center"><%= record.created_at.strftime('%Y/%m/%d') %> (<%= weekdays[record.created_at.strftime('%a')] %>)</h2>
                    <img src="/left-arrow.png" width="25px" style="opacity: 0;">
                </div>

                <% if answers.length != 0 %>
                    <div class="form-record">
                        <div class="form-record-ans detail-cards">
                            <div class="detail-card" style="background-image: url('/time-card-bg.png');">
                                <h1 class="font"><%= answers[0] %></h1>
                                <h3 class="font"> 分鐘</h3>
                            </div>
                            <div class="detail-card" style="background-image: url('/emoji-card-bg.png');">
                                <h1 class="font"><%= answers[3] %></h1>
                                <h3 class="font"> 分</h3>
                            </div>
                        </div>
                        <div class="form-record-ans">
                            <h3 class="font">我使用 IG 的時段</h3>
                            <div class="my-badge-div">
                                <% answers[1].split("|").each do |ans| %>
                                    <div class="font my-badge"><%= ans %></div>
                                <% end %>
                            </div>
                        </div>
                        <div class="form-record-ans">
                            <h3 class="font">我在 IG 上做了...</h3>
                            <ul class="font content">
                                <% answers[2].split("|").each do |ans| %>
                                    <li><%= ans %> </li>
                                <% end %>
                            </ul>
                        </div>
                        <div class="form-record-ans">
                            <h3 class="font">我的情緒和感受</h3>
                            <p class="font content">
                                <% answers[4].split("|").each do |row| %>
                                    <% row_ans = row.split("&") %> 
                                    <% body_parts = {"A"=>"頭", "B"=>"眼睛", "C"=>"臉", "D"=>"肩頸", "E"=>"上肢", "F"=>"胸腔", "G"=>"腹部（胃）", "H"=>"腰", "I"=>"下肢"} %> 
                                    因為 <span> <%= row_ans[0] %> </span> 
                                    我覺得 <span> <%= body_parts[row_ans[1]] %> </span>  <span> <%= row_ans[2] %> </span> 
                                <% end %>
                            </p>
                        </div>
                        <div class="form-record-ans">
                            <h3 class="font">我會有這些情緒和感受的原因是...</h3>
                            <p class="font content"><%= answers[5] %></p>
                        </div>
                        
                        <% if answers.length > 6 %>
                            <div class="form-record-ans">
                                <h3 class="font">我想用 IG 的原因</h3>
                                <p class="font content">
                                    <%= answers[6] %> <br>
                                    → 達成率：<span><%= answers[7] %>0%</span>
                                </p>
                            </div>
                            <div class="form-record-ans">
                                <h3 class="font">我覺得我可以改善使用 IG 時的情緒的方法是...</h3>
                                <p class="font content"><%= answers[8].empty? ? "還不清楚" : answers[8] %></p>
                            </div>
                        <% end %>
                    </div>
                <% else %>
                    <p class="font content">尚無紀錄</p>
                <% end %>
            </div>

            <div class="navbar-div">
                <div class="navbar-div-bottom">
                    <a href='/fomo-dic'>
                        <img src="/fomo-dic.png" width="97px">
                    </a>

                    <a href='/my-history/<%= user.url %>'>
                        <img src="/my-history-click.png" width="97px">
                    </a>
                </div>

                <% if false %>
                    <input class="start_btn small-btn-string font" type="button" disabled="disabled" style="color: #AACFD1;" value="已完成&#x00A;今日紀錄">
                <% else %>
                    <a href='/meditation/<%= user.url %>'>
                        <input class="start_btn big-btn-string font" type="button" value="開始&#x00A;記錄">
                    </a>
                <% end %>
            </div>
        </div>
    </div>
</body>