<body>
    <div class="container-fluid">
        <!-- Form Question & Title -->
        <div class="form-top">
            <div style="width: 88vw;">
                <h2 class="form-qnumber font">第三題</h2>
                <div class="form-progress-line-frame">
                    <hr class="form-progress-line-progress" style="width: 30vw;">
                    <hr class="form-progress-line-leave">
                </div>
            </div>

            <div class="form-q-d">
                <h2 class="form-qtitle font">你/妳今天在使用 IG 時做了哪些事情？（可複選）</h2>
                <!-- info alert -->
                <div id="info-default" class="info-alert">
                    <div class="info-content info-default">
                        <div style="display: flex; flex-direction: row; align-items: flex-start; gap: 12px;">
                            <img src="/information-icon.png" width="25px">
                            <p class="font content">朋友與其他人的定義</p>
                        </div>
                        <img src="/arrow-down.png" width="25px">
                    </div>
                </div>
                <div id="info-extend" class="info-alert" style="display: none;">
                    <div class="info-content info-extend">
                        <img src="/information-icon.png" width="25px">
                        <div class="font content">
                            <ul style="margin: 0px;">
                                <li><b>朋友：</b>指的是你在 IG 上有追蹤的帳號（如：現實生活中的朋友、網紅、藝人等）。</li>
                                <li><b>其他人：</b>指的是你沒有追蹤的帳號（如：出現在放大鏡的貼文帳號）。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Selections -->
        <form role="form" id="form_answers" method="POST" action="/form_4/<%= account %>">
            <div class="form-content">
                <div class="q-div">

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-postory" name="q3_ans[]" value="發佈限時動態">
                        <label class="form-check-label font small-btn-string" for="option-postory"><p>發佈限時動態<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-popost" name="q3_ans[]" value="發佈貼文">
                        <label class="form-check-label font small-btn-string" for="option-popost"><p>發佈貼文<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-poreels" name="q3_ans[]" value="發佈短片 (Reels)">
                        <label class="form-check-label font small-btn-string" for="option-poreels"><p>發佈短片 (Reels)<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-replyandlike" name="q3_ans[]" value="回覆或按讚朋友的訊息/限時動態/貼文/短片 (Reels)">
                        <label class="form-check-label font small-btn-string" for="option-replyandlike"><p>回覆或按讚朋友的訊息/限時動態/貼文/短片 (Reels)<p></label>
                    </div>
                    
                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-seenotification" name="q3_ans[]" value="查看通知 (追蹤要求、貼文通知)">
                        <label class="form-check-label font small-btn-string" for="option-notification"><p>查看通知 (追蹤要求、貼文通知)<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-seefstory" name="q3_ans[]" value="瀏覽朋友的限時動態">
                        <label class="form-check-label font small-btn-string" for="option-seestory"><p>瀏覽朋友的限時動態<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-seefpost" name="q3_ans[]" value="瀏覽朋友的短片 (Reels) 或貼文">
                        <label class="form-check-label font small-btn-string" for="option-seefpost"><p>瀏覽朋友的短片 (Reels) 或貼文<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-seeothers" name="q3_ans[]" value="瀏覽其他人（非朋友）的限時動態/連續短片/貼文">
                        <label class="form-check-label font small-btn-string" for="option-seeothers"><p>瀏覽其他人（非朋友）的限時動態/連續短片/貼文<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-shopping" name="q3_ans[]" value="購物">
                        <label class="form-check-label font small-btn-string" for="option-shopping"><p>購物<p></label>
                    </div>

                    <div class="form-check form-check-inline select-option">
                        <input class="form-check-input" type="checkbox" id="option-other" name="q3_ans[]" value="其他">
                        <label class="form-check-label font small-btn-string" for="option-other">
                            <p>
                                其他：
                                <input class="form-check-input other-text" type="text" name="q3_ans_other" value="">
                            <p>
                        </label>
                    </div>

                </div>
            </div>

            <div class="form-footer">
                <input class="fill_time" name="fill_time" type="hidden" value="<%= fill_time %>">
                <input class="q1_ans" name="1" type="hidden" value="<%= q1_ans %>">
                <input class="q2_ans" name="2" type="hidden" value="<%= q2_ans %>">
                <input class="btn font" type="submit" style="width:100%; justify-content: center;" value="下一題">
            </div>
        </form>
    </div>

    <script>
        // hide or show the information alert div
        $("#info-default").click(function() {
            $("#info-default").hide();
            $("#info-extend").show();
        });
        $("#info-extend").click(function() {
            $("#info-extend").hide();
            $("#info-default").show();
        });

        // select-option select and unselect
        $(".select-option").click(function() {
            if($(this).hasClass("select-option-extend")) {
                // unselect
                var other_val = $(this).find("label").find("p").find("input").val();
                if(other_val == "" || other_val == undefined){
                    $(this).removeClass("select-option-extend");
                }
            } else {
                // select
                $(this).addClass("select-option-extend");
            }
        });
        $(".small-btn-string.form-check-label").click(function() { 
            // can also add/remove class if they tape text
            if($(this).parent(".select-option").hasClass("select-option-extend")) {
                // unselect
                $(this).parent(".select-option").removeClass("select-option-extend");
            } else {
                // select
                $(this).parent(".select-option").addClass("select-option-extend");
            }
        });

        // other text input
        $(".other-text").change(function() {
            var ele = $(this).closest(".select-option")
            if ($(this).val() !== "") {
                if (!ele.hasClass("select-option-extend")) {
                    ele.addClass("select-option-extend");
                }
            } else {
                if (ele.hasClass("select-option-extend")) {
                    ele.removeClass("select-option-extend");
                }
            }
        });

        // get the start time (計算填寫時間)
        var time_start = new Date();  
        var clock_start = time_start.getTime();  

        // 計算填寫時間
        function get_time_spent (){   
            var time_now = new Date();  
            return((time_now.getTime() - clock_start)/1000 + <%= fill_time %>);   
        }

        $('#form_answers').submit(function() {
            // 確認 select-option 的 selected 內容
            $(".select-option").each(function() {
                if ($(this).hasClass("select-option-extend")) {
                    // Check the checkbox
                    $(this).find("input[type=checkbox]").prop("checked", true);
                } else {
                    // Uncheck the checkbox
                    $(this).find("input[type=checkbox]").prop("checked", false);
                }
            });

            // other_ans string append to form ans
            if($(".other-text").val() !== "") {
                $(".other-text").closest("label").siblings("input").val("其他：" + $(".other-text").val());
            } else {
                $(".other-text").closest("label").siblings("input").prop("checked", false);
            }

            // 確認至少勾選一個選項
            var empty = 1;
            $("input[type=checkbox]").each(function() {
                if ($(this).is(":checked")) empty = 0;
            });
            if(empty == 1) {
                alert("請選擇你/妳今天在 IG 上做的事情");
                return false;
            }

            // 加入表單填寫時間
            $(".fill_time").val(get_time_spent());
            $('#form_answers').serialize()
            return true;
        });
    </script>
</body>