<body class="home_body">
    <div class="container-fluid">
        <div class="home-div">
            <div class="logo-title">
                <img src="/SoMate-logo.png" width="100%">
            </div>

            <div class="home-prompt">
                <h3 class="font">你/妳今天還沒紀錄喔～ 點選「開始紀錄」來填寫吧！</h3>
            </div>

            <div class="visualization-div">

            </div>

            <div class="navbar-div">
                <div class="navbar-div-bottom">
                    <img src="/fomo-dic.png" width="97px">
                    <img src="/my-history.png" width="97px">
                </div>

                <% if is_record %>
                    <input class="start_btn small-btn-string font" type="button" disabled="disabled" style="color: #AACFD1;" value="已完成&#x00A;今日紀錄">
                <% else %>
                    <a href='/meditation/<%= account %>'>
                        <input class="start_btn big-btn-string font" type="button" value="開始&#x00A;記錄">
                    </a>
                <% end %>
            </div>
        </div>

        
        <!-- record cards 
        <div class="col-12 font bottom_card" style="height: 304px;">
            <p style="font-size: 24px; line-height: 28px; letter-spacing: -0.02em; display: inline; float:left;">我的<b class="guide">祝福 & </b>紀錄 </p>
            <a href='/all_records/<%= account %>'>
                <p style="float:right; display: inline; color: grey; font-size: 13px; line-height: 15px; margin-top: 5px;">所有紀錄 <img src="/further_info_right_arrow.png" width="14px"></p> 
            </a>
            <div class="records no_record" align="center">
                尚無紀錄
            </div>
        </div>
        -->
    </div>
    <script>
        // $(document).ready(function() {
        //     if(<%= records.length != 0 %>) {  // 如果有資料就顯示下面的小卡
        //         var card_data = new Array();
        //         card_data = <%= records.map { |r| [r.id, r.created_at.strftime("%m / %d (%a)"), r.owned_answers.map {|a| a.answer_content if a.question_num == 1}.join, r.owned_answers.map {|a| a.answer_content if a.question_num == 7}.join]} %>;

        //         // create cards html
        //         var card_html = `<div class="swiper-container">
        //                             <div class="swiper-wrapper">`;
        //         card_data.reverse().forEach(content => {
        //             card_html += `<div class="swiper-slide">
        //                                 <div class="slide_card">
        //                                     <div class="card_title">
        //                                         <p class="card_header font">${content[1]}</p>
        //                                     </div>
        //                                     <div class="card_body">
        //                                         <b class="card_content_title">使用時間</b><br>
        //                                         <p class="card_content font">${content[2]}</p>
        //                                         <b class="card_content_title">我的祝福</b><br>
        //                                         <p class="card_content font">${content[3]}</p>
        //                                         <a href="/form_record/${content[0]}/<%= account %>"><h2 class="card_btn font">查看更多 <i class="fas fa-arrow-circle-right"></i></h2></a>
        //                                     </div>
        //                                 </div>
        //                             </div>`;
        //         });
        //         card_html += "</div></div>";

        //         // replace no_record area
        //         $(".no_record").remove();
        //         $(".bottom_card").append(card_html);

        //         // 初始化 swiper
        //         var mySwiper = new Swiper('.swiper-container', {
        //             slidesPerView: "auto",
        //             spaceBetween: 12
        //         }); 
        //     }
        // });
    </script>
</body>