<body class="home_body">
    <div class="container-fluid">
        <div class="home-div">
            <div class="logo-title">
                <img src="/SoMate-logo.png" width="100%">
            </div>

            <div class="home-prompt">
                <h3 class="font">你/妳今天還沒紀錄喔～ 點選「開始紀錄」來填寫吧！</h3>
            </div>

            <div class="visualization-div">
                <div class="visualization-card">
                    <div class="page-title" style="width:100%;">
                        <img src="/date-left-arrow.png" width="18px">
                        <p class="font remark-string" align="center" style="color: #A4A1A1;">
                            <%= date_start %>（一）～ <%= date_end %>（日）
                        </p>
                        <img src="/date-right-arrow.png" width="18px">
                    </div>
                    <h3 class="font viz-title">使用時間＆情緒</h3>


                </div>

                <div class="visualization-card">
                    <div class="page-title" style="width:100%;">
                        <img src="/date-left-arrow.png" width="18px">
                        <p class="font remark-string" align="center" style="color: #A4A1A1;">
                            <%= date_start %>（一）～ <%= date_end %>（日）
                        </p>
                        <img src="/date-right-arrow.png" width="18px">
                    </div>

                    <h3 class="font viz-title">我通常在 IG 做的事</h3>
                    <div class="activities-viz-div">
                    <% viz_2[:activities].each_with_index do |activity, index| %>
                        <% if index < viz_2[:activity_max] %>
                            <div class="activities-viz-line">
                                <div class="activities-viz-num"><%= index + 1 %></div>
                                <div class="font content activities-viz-text"><%= activity[0] %></div>
                            </div>
                        <% end %>
                    <% end %>
                    </div>

                    <h3 class="font viz-title">常用 IG 的時段</h3>
                    
                    <div class="my-badge-div">
                    <% viz_2[:moments].each_with_index do |moment, index| %>
                        <% if index < viz_2[:moment_max] %>
                            <div class="font my-badge"><%= moment[0] %></div>
                        <% end %>
                    <% end %>
                    </div>
                    
                </div>

                <div class="visualization-card">
                    <div class="page-title" style="width:100%;">
                        <img src="/date-left-arrow.png" width="18px">
                        <p class="font remark-string" align="center" style="color: #A4A1A1;">
                            <%= date_start %>（一）～ <%= date_end %>（日）
                        </p>
                        <img src="/date-right-arrow.png" width="18px">
                    </div>
                    <h3 class="font viz-title">我在 IG 做的事＆情緒</h3>
                    
                </div>

                <div class="visualization-card">
                    <div class="page-title" style="width:100%;">
                        <img src="/date-left-arrow.png" width="18px">
                        <p class="font remark-string" align="center" style="color: #A4A1A1;">
                            <%= date_start %>（一）～ <%= date_end %>（日）
                        </p>
                        <img src="/date-right-arrow.png" width="18px">
                    </div>
                    <h3 class="font">我上週的身體感受＆情緒</h3>
                    
                </div>
            </div>

            <div class="navbar-div">
                <div class="navbar-div-bottom">
                    <a href='/fomo-dic'>
                        <img src="/fomo-dic.png" width="97px">
                    </a>

                    <a href='/my-history/<%= account %>'>
                        <img src="/my-history.png" width="97px">
                    </a>
                </div>

                <% if is_record %>
                    <input class="start_btn small-btn-string font" type="button" disabled="disabled" style="color: #AACFD1;" value="已完成&#x00A;今日紀錄">
                <% else %>
                    <a href='/meditation/<%= account %>'>
                        <input class="start_btn big-btn-string font" type="button" value="開始&#x00A;記錄">
                    </a>
                <% end %>
            </div>

            <!-- footer -->
            <p class="font content footer">
                © Copyright 2023 NTHU ISS - SoMate Research Team
            </p>
        </div>

        
    </div>
    <script>
        
    </script>
</body>