<body class="home_body">
    <div class="container-fluid">
        <div class="home-div">
            <div class="logo-title">
                <img src="/SoMate-logo.png" width="100%">
            </div>

            <div class="my-history-div">
                <div class="page-title">
                    <a href='/index/<%= account %>/current'>
                        <img src="/visualization-icon.png" height="44px">
                    </a>
                    <h2 class="font" align="center">我的歷史紀錄</h2>
                    <img src="/visualization-icon.png" height="44px" style="opacity: 0;">
                </div>

                <div class="page-title">
                    <a href='/my-history/change-date/pre&<%= Date.strptime(date_start, '%m/%d') %>'>
                        <img src="/date-left-arrow.png" width="30px">
                    </a>
                    <h3 class="font" align="center" style="color: #A4A1A1;">
                        <%= date_start %>（一）～ <%= date_end %>（日）
                    </h3>
                    <a href='/my-history/change-date/post&<%= Date.strptime(date_start, '%m/%d') %>'>
                        <img src="/date-right-arrow.png" width="30px">
                    </a>
                </div>

                <% if week_ans.length != 0 %>
                    <% week_ans.each do |ans_record| %>
                        <div class="history-record">
                            <p class="font small-btn-string"><%= ans_record[:value][0] %> (<%= ans_record[:value][1] %>)</p>
                            <div class="history-record-content">
                                <div class="history-record-content-data">
                                    <div class="use-time">
                                        <img src="/history-use-time.png" width="32px">
                                        <p class="font content"><%= ans_record[:value][2] %></p>
                                    </div>
                                    <div class="emoji-score">
                                        <img src="/history-emoji.png" width="32px">
                                        <p class="font content"><%= ans_record[:value][3] %></p>
                                    </div>
                                </div>
                                <a href="/form_record/<%= ans_record[:key] %>">
                                    <img src="/countermeasure-alert-arrow.png" width="18px">
                                </a>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <p class="font content">尚無紀錄</p>
                <% end %>
            </div>

            <div class="navbar-div">
                <div class="navbar-div-bottom">
                    <a href='/fomo-dic'>
                        <img src="/fomo-dic.png" width="97px">
                    </a>

                    <a href='/my-history/<%= account %>'>
                        <img src="/my-history-click.png" width="97px">
                    </a>
                </div>

                <% if is_record %>
                    <input class="start_btn small-btn-string font" type="button" disabled="disabled" style="color: #AACFD1;" value="已完成&#x00A;今日紀錄">
                <% else %>
                    <a href='/meditation/<%= account %>'>
                        <input class="start_btn big-btn-string font" type="button" value="開始&#x00A;記錄">
                    </a>
                <% end %>
            </div>
        </div>

    </div>
    <script>
    
    </script>
</body>